/*set the body content and to control the overflow in x axis*/
body {
    text-align: center;
    background-color: aliceblue;
    
}

/* set the color and font of the clock face */
#clock-face {
    padding: 10px;
    color:#5ed3bf;
    font-weight: bold;
    font-size: 3rem;
}


/* set the alignment of the form to set the alarm */
#set-alarm-form {
    padding: 20px; 
    justify-content: center;
}

/*adding margin to bootstarp form-control class*/
.form-control {
    margin: 0 5px;
}

/* setting the custom width on form elements*/
.col-sm-1 {
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
    max-width: 6%;
}

/* setting customized line height for btn class */
.btn {
    line-height: 0.5;
}

/* setting the margin and align the text in the list container */
#list-div {
    margin: 10px auto;
    width: 35%;
}

/* setting the margin and align the text in the list content */
#list-div p {
    text-align: left;
}

/* styling done in displaying the value of list of alarms */
#alarms-list {
    list-style: none;
    text-align: left;
    float: left;
    padding-left: 0;
    width: 100%;
}

/*Styles added to display the list items*/
.list-element {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*font styles added for the span */
.list-element span {
    color: #29a1c6;
    font-weight: bold;
    font-size: 1rem;
}

p {
    font-weight: bold;
}
body {
    overflow-x: hidden;
}
   
/* @media screen and (max-width:300px) {
    .col-sm-1 {
        min-width: 30%;
    }
    
} */
/* 
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  } */